{extend name='public/layout' /}


{block name='content'}
<div class="index-body">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">快捷方式</div>
                <div class="layui-card-body">
                    <div class="layui-carousel" fiy-id='carousel'>
                        <div carousel-item>
                            <div>条目1</div>
                            <div>条目2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">快捷方式</div>
                <div class="layui-card-body">
                    <div class="layui-carousel" fiy-id='carousel'>
                        <div carousel-item>
                            <div>条目1</div>
                            <div>条目2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">快捷方式</div>
                <div class="layui-card-body">
                    <div class="layui-carousel" fiy-id='carousel'>
                        <div carousel-item>
                            <div>条目1</div>
                            <div>条目2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
    

</div>

{/block}
