<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        pre,code{
            background: #F1F1F1;
            padding: 10px;
            border-radius: 2px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        code{
            padding: 0;
        }
    </style>
</head>
<body>
    123
    <pre>
        <code>
            21321321
            343424
        </code>
    </pre>
</body>
</html>