{if $pjax == 0}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title ?? "Sorry,This Page doesn't have name!"}</title>
    <link rel="stylesheet" href="__EXTEND__/layui/css/layui.css">
    {block name='css'}{/block}
</head>
<body>
  <div id="pjax-container">
      {block name='content'}{/block}
  </div>

    <script src="__EXTEND__/layui/layui.js"></script>
    <script src="__EXTEND__/plugins/jquery.min.js"></script>
    <script src="__EXTEND__/plugins/pjax.min.js"></script>
    <script src="__SOURCE_JS__/index.min.js"></script>
    {block name='js'}{/block}
</body>
</html>

{else /}
  {block name='css'}{/block}
  {block name='content'}{/block}
  {block name='js'}{/block}
{/if}