{if $pjax == 0}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{:sysConf('website_description')}">
    <meta name="keywords" content="{:sysConf('website_keywords')}">
    <title>{$title ?? "Sorry,This Page doesn't have name!"} - {:sysConf('website_name')}</title>
    <link rel="stylesheet" href="__EXTEND__/layui/css/layui.css">
    <link rel="stylesheet" href="__EXTEND__/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__EXTEND__/plugins/hover.min.css">
    <link rel="stylesheet" href="__EXTEND__/plugins/animate.min.css">
    <link rel="stylesheet" href="__EXTEND__/plugins/nprogress.min.css">
    <link rel="stylesheet" href="__EXTEND__/plugins/viewer.min.css">
    <link rel="stylesheet" href="__SOURCE_CSS__/admin.css">
    {block name='css'}{/block}
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
          <div class="layui-logo">{:sysConf('program_name')} <span class="layui-badge layui-bg-green">{:sysConf('program_version')}</span></div>
          <!-- 头部区域（可配合layui已有的水平导航） -->
          <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
              <a href="javascript:;" fiy-shrink fiy-flag='1'><i class="layui-icon layui-icon-shrink-right fa-fw"></i></a>
            </li>
            {volist name='$nav[1]' id='vo'}
            <li class="layui-nav-item">
                {if !empty($vo.child)}
                <a {$vo.extend} href="javascript:;">{$vo.name}</a>
                <dl class="layui-nav-child">
                  {volist name='$vo.child' id='vo1'}
                  <dd lay-unselect>    
                    <a {$vo1.extend} data-pjax href="{$vo1.rule ? url($vo1.rule) : 'javascript:;'}">{$vo1.name}</a>
                  </dd>
                  {/volist}
                </dl>
                {else /}
                  <a {$vo.extend} data-pjax href="{$vo.rule ? url($vo.rule) : 'javascript:;'}">{$vo.name}</a>
                {/if}
              {/volist}
            </li>
          </ul>
          <ul class="layui-nav layui-layout-right">
              {volist name='$nav[2]' id='vo'}
              <li class="layui-nav-item">
                  {if !empty($vo.child)}
                  <a {$vo.extend} href="javascript:;">
                      {in name='$vo.menu_type' value='1'}
                      {$vo.name}
                      {/in}
                      {in name='$vo.menu_type' value='4'}
                      <i class="{$vo.icon}"></i>
                      {/in}
                  </a>
                  <dl class="layui-nav-child">
                    {volist name='$vo.child' id='vo1'}
                    <dd lay-unselect>    
                      <a {$vo1.extend} data-pjax href="{$vo1.rule ? url($vo1.rule) : 'javascript:;'}">{$vo1.name}</a>
                    </dd>
                    {/volist}
                  </dl>
                  {else /}
                    <a {$vo.extend} data-pjax href="{$vo.rule ? url($vo.rule) : 'javascript:;'}">
                      {in name='$vo.menu_type' value='1'}
                      {$vo.name}
                      {/in}
                      {in name='$vo.menu_type' value='4'}
                      <i class="{$vo.icon}"></i>
                      {/in}
                    </a>
                  {/if}
                {/volist}
            <li class="layui-nav-item">
              <a href="javascript:;">
                <img src="{$admin.avatar}" class="layui-nav-img">
                {$admin.nickname}
              </a>
              <dl class="layui-nav-child">
                <dd lay-unselect><a href="{:url('admin/system/userinfo')}">基本资料</a></dd>
                <dd lay-unselect><a href="javascript:;" fiy-modal="{:url('admin/form/edit_password')}" fiy-area='400px' fiy-title="修改密码">修改密码</a></dd>
                <dd lay-unselect><a href="javascript:;" fiy-link="{:url('admin/login/logout')}" fiy-logout>退了</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        
        <div class="layui-side layui-side-bg">
          <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="nav-left" lay-shrink="all">
              {volist name='$nav[0]' id='vo'}
              <li class="layui-nav-item {in name='$i' value='1'}layui-nav-itemed{/in}">
                {if !empty($vo.child)}
                <a {$vo.extend} fiy-side-tpl href="javascript:;">{if !empty($vo.icon)}<i class="{$vo.icon}" aria-hidden="true"></i> <span class="layui-nav-name">{/if} {$vo.name}</span></a>
                <dl class="layui-nav-child">
                  {volist name='$vo.child' id='vo1'}
                  <dd fiy-side-tpl class="{if $thUrl == url($vo1.rule)}layui-this{/if}">    
                    <a {$vo1.extend} data-pjax href="{$vo1.rule ? url($vo1.rule) : 'javascript:;'}" class="layui-nav-side-level2">{if !empty($vo1.icon)}<i class="{$vo1.icon}" aria-hidden="true"></i> <span class="layui-nav-name">{/if} {$vo1.name}</span></a>
                  </dd>
                  {/volist}
                </dl>
                {else /}
                  <a {$vo.extend} data-pjax class="{if $thUrl == url($vo.rule)}layui-this{/if}" href="{$vo.rule ? url($vo.rule) : 'javascript:;'}">{$vo.name}</a>
                {/if}
              </li>
              {/volist}
            </ul>
          </div>
        </div>
        
        <div class="layui-body">
          <!-- 内容主体区域 -->
          <div id="pjax-container">
            <div class="banner layui-btn-container">
              <i class="{$menu_icon ?? 'layui-icon layui-icon-engine'} fa-fw"></i> <span class="title">{$menu_title ?? ''}</span>
              <div class="banner-btns">
                {block name='buttons'}{/block}
              </div>
            </div>
            <div class="main-container">
              {block name='content'}{/block}
            </div>
          </div>
        </div>
        
        <div class="layui-footer">
          <!-- 底部固定区域 -->
          {:sysConf('website_copyright')}
        </div>
      </div>

  
    
    <script>
      //全局变量
      const DTB_ID = 'data_table' //数据表格的id
      const DTB_STATUS = `{:url("admin/form/dtb_status")}` //数据表格状态修改地址
      const ICON_URL = `{:url('admin/form/icon')}` //图标库
      const UPLOAD_URL = `{:url('admin/form/upload')}` //上传图片
      const FLAG = {  //标志(配置)
        search_box: false, //是否自动收起搜索栏目 
      }
    </script>
    <script src="__EXTEND__/layui/layui.js"></script>
    <script src="__EXTEND__/plugins/jquery.min.js"></script>
    <script src="__EXTEND__/plugins/pjax.js"></script>
    <script src="__EXTEND__/plugins/nprogress.min.js"></script>
    <script src="__EXTEND__/plugins/viewer.min.js"></script>
    <script src="__SOURCE_JS__/admin.js"></script>
    {block name='js'}{/block}
</body>
</html>

{else /}
  <div class="banner layui-btn-container">
    <i class="{$menu_icon ?? 'layui-icon layui-icon-engine'} fa-fw"></i> <span class="title">{$menu_title ?? ''}</span>
    <div class="banner-btns">
      {block name='buttons'}{/block}
    </div>
  </div>
  <div class="main-container">
    {block name='content'}{/block}
  </div>
{/if}

<script type="text/html" id="Tpl_tool">
  <div class="layui-btn-group tpl_normal_btns" fiy-url='{:url("admin/form/data_table_event")}' fiy-id='{{d.id}}'>
    <button class="layui-btn layui-btn-normal layui-btn-sm tpl_btn" fiy-title='查看' lay-event="view">
      <i class="fa fa-hand-o-left"></i>
    </button>
    <button class="layui-btn layui-btn-sm tpl_btn" fiy-title='编辑' lay-event="edit">
      <i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="layui-btn layui-btn-danger layui-btn-sm tpl_btn" fiy-title='删除' lay-event="del">
      <i class="layui-icon layui-icon-delete"></i>
    </button>
  </div>
</script>
<script type="text/html" id="Tpl_icon">
   <i class="{{d.icon}}"></i>
</script>
<script type="text/html" id="Tpl_image">
  <img src="{{d.image || ''}}" class="dtb-image" fiy-photo-list />
</script>
<script type="text/html" id="Tpl_avatar">
  <img src="{{d.avatar || ''}}" class="dtb-image" fiy-photo-list />
</script>
<script type="text/html" id="Tpl_menu_type">
  {{# if(d.menu_type == 0){ }}
    <button class='layui-btn layui-btn-sm layui-btn-primary tpl_btn'>非菜单</button>
  {{# }else if(d.menu_type == 1) { }}
    <button class='layui-btn layui-btn-sm layui-btn-normal tpl_btn'>链接</button>
  {{# }else if(d.menu_type == 2) { }}
    <button class='layui-btn layui-btn-sm tpl_btn'>图片</button>
  {{# }else if(d.menu_type == 3) { }}
    <button class='layui-btn layui-btn-sm tpl_btn'>文字</button>
  {{# }else if(d.menu_type == 4) { }}
    <button class='layui-btn layui-btn-sm layui-btn-warm tpl_btn'>图标</button>
  {{# }else { }}
    <button class='layui-btn layui-btn-sm layui-btn-normal tpl_btn'>自定义</button>
  {{# } }}
</script>
<script type="text/html" id="Tpl_config_type">
  {{# if(d.config_type == 0){ }}
    <button class='layui-btn layui-btn-sm layui-btn-normal tpl_btn'>站点</button>
  {{# }else { }}
    <button class='layui-btn layui-btn-sm tpl_btn'>邮箱</button>
  {{# } }}
</script>
<script type="text/html" id="Tpl_status">
  <input type="checkbox" name="close" lay-skin="switch" lay-text="显示|隐藏" lay-filter="tpl_status_switch" value="{{d.status}}" fiy-id="{{d.id}}" {{ d.status == '1' ? 'checked' : "" }}>
</script>
<script type="text/html" id="Tpl_gender">
  {{# if(d.gender == 0){ }}
    <button class='layui-btn layui-btn-sm layui-btn-normal tpl_btn'>保密男</button>
  {{# }else if(d.gender == 1) { }}
    <button class='layui-btn layui-btn-sm layui-btn-warm tpl_btn'>女</button>
  {{# }else { }}
    <button class='layui-btn layui-btn-sm tpl_btn'>男</button>
  {{# } }}
</script>