<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title ?? "Sorry,This Page doesn't have name!"}</title>
    <link rel="stylesheet" href="__EXTEND__/layui/css/layui.css">
    <link rel="stylesheet" href="__SOURCE_CSS__/install.min.css">
    {block name='css'}{/block}
</head>
<body>

    <div class="layui-container">
        {block name='content'}{/block}
    </div>
    <script src="__EXTEND__/layui/layui.js"></script>
    <script src="__SOURCE_JS__/install.min.js"></script>
    {block name='js'}{/block}
    
</body>
</html>