.hvr-overline-from-left:before {
  height: 2px;
  background: #01AAED;
}
.hvr-overline-from-left.active::before {
  width: 100%;
}
.layui-nav-bar {
  background-color: #01AAED !important;
  height: 4px;
}
.layui-header .layui-logo {
  color: #01AAED;
}
.layui-header .layui-badge {
  top: -10px;
}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
  background-color: #01AAED;
}
