@color_1: #01AAED;
.hvr-overline-from-left:before {
    height: 2px;
    background: @color_1;
}
.hvr-overline-from-left.active::before {
    width: 100%;
}
.layui-nav-bar{
    background-color: @color_1 !important;
    height: 4px; 
}
.layui-header{
    .layui-logo{
        color: @color_1;
    }
    .layui-badge{
        top: -10px;
    }
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
    background-color: @color_1;
}