.content{
  width: 100%;
  min-height: 300px;
  position: absolute;
  top: 50vh;
  margin-top: -150px;
  border-radius: 6px;
}
.circle{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.circle-box{
  position: relative;
}
.circle-left{
  clip:rect(0,100px,auto,0);
}
.circle-right{
  clip: rect(0,200px,auto,100px);
  /* transform: rotate(90deg); */
  animation: circle 2s;
}
.circle-center{
  z-index: 3;
  width: 180px;
  height: 180px;
  top: 10px;
  left: 10px;
  background: #fff;
}

@keyframes circle {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}

@keyframes circle2 {
  form{
    transform: rotate(0);
  }
  to{
    transform: rotate(180deg);
  }
}