<div class="modal-container">
  {in name='event' value='view'}
  <table class="layui-table" lay-even>
    <thead>
      <tr>
        <th><b>名称</b></th>
        <th><b>参数</b></th>
      </tr> 
    </thead>
    <tbody>
      {volist name='cols' id='vo'}
        <tr>
          <td>{$vo.title}</td>
          <td>
            {if empty($vo.child) /}
              {if empty($data[$vo.name])}
                <i class="layui-word-aux">NULL</i>
              {elseif stripos($vo.name, 'icon') !== false /}
                <i class="{$data[$vo.name]}"></i>
              {elseif stripos($vo.name, 'time') !== false /}
                {$data[$vo.name]|date='Y-m-d H:i:s'}
              {else /}
                {$data[$vo.name]}
              {/if} 
            {else /}
            <div class="layui-form" lay-filter="test1">
              <button class="layui-btn layui-btn-sm">{$vo.child[$data[$vo.name]]}</button>
            </div>
            {/if}
          </td>
        </tr>
      {/volist}
    </tbody>
  </table>
  {/in}

  {in name='event' value='add'}
  <form class="layui-form" action="javascript:;" fiy-url="{:url('admin/form/event_add')}" method="POST" fiy-table="{$table}" fiy-event='add'>
    {volist name='cols' id='vo'}
      {notin name='vo.name' value='id'}
      <div class="layui-form-item">
        <label class="layui-form-label">{$vo.title}</label>
        <div class="layui-input-block">
          {if empty($vo.child) /}
            {if $vo.name=='weigh'}
            <input type="text" name="{$vo.name}" required lay-verify="required|number" lay-verType='tips' placeholder="请输入{$vo.title}" value="{$default.weigh ?? $vo.default}" autocomplete="off" class="layui-input">  
            {elseif $vo.name=='regtime' || $vo.name=='uptime'/}
            <input type="text" name="{$vo.name}" placeholder="选择{$vo.title}" autocomplete="off" class="layui-input" id="{$event}_{$vo.name}">
            {elseif $vo.name=='icon' /}
            <div class="layui-input-inline">
              <input type="text" name="{$vo.name}" placeholder="请输入{$vo.title}" autocomplete="off" class="layui-input">  
            </div>
            <div class="layui-input-inline">
              <a class="layui-btn layui-btn-primary" fiy-id='show-icon'><i></i></a>
              <a class="layui-btn layui-btn-normal" fiy-id='select-icon'>选择图标</a>
            </div>
            {elseif stripos($vo.name, 'context') !== false /}
            <textarea name="{$vo.name}" {in name='$vo.allow_null' value='NO'} required lay-verify="required" {/in} placeholder="请输入{$vo.title}" class="layui-textarea"></textarea>
            {elseif stripos($vo.name, 'image') !== false || stripos($vo.name, 'avatar') !== false /}
            <div class="layui-input-inline">
              <input type="text" name="{$vo.name}" placeholder="请输入{$vo.title}" autocomplete="off" class="layui-input" >  
            </div>
              <button type="button" class="layui-btn layui-btn-normal" fiy-upload>
                <i class="layui-icon">&#xe67c;</i>上传{$vo.title}
              </button>
            <div class="event-image-container" fiy-photo-list>

            </div>

            {elseif $vo.name=='pid' /}
            <select name="{$vo.name}">
              {$pid_dom|raw}
            </select>
            
            {else /}
            <input type="text" name="{$vo.name}" {in name='$vo.allow_null' value='NO'} required lay-verify="required" {/in} lay-verType='tips' placeholder="请输入{$vo.title}" value="{$vo.default}" autocomplete="off" class="layui-input">  
            {/if}
          {else /}
            {volist name='$vo.child' id='vo1'}
            <input type="radio" name="{$vo.name}" value="{$i-1}" title="{$vo1}" {in name='$vo.default' value='$i-1'}checked{/in}>
            {/volist}
          {/if}
        </div>
      </div>
      {/notin}
    {/volist}
    
    <div class="layui-form-item">
      <div class="layui-input-block form-btn">
        <button class="layui-btn" lay-submit lay-filter="event_form">立即提交</button>
      </div>
    </div>
  </form>
  {/in}

  {in name='event' value='edit'}
  <form class="layui-form" action="javascript:;" fiy-url="{:url('admin/form/event_edit')}" method="POST" fiy-table="{$table}" fiy-event='edit'>
    {volist name='cols' id='vo'}
      <div class="layui-form-item">
        <label class="layui-form-label">{$vo.title}</label>
        <div class="layui-input-block">
          {if empty($vo.child) /}
            {if $vo.name=='id'}
            <input type="text" name="{$vo.name}" value="{$data[$vo.name]}" class="layui-input" disabled>  
            {elseif $vo.name=='weigh'/}
            <input type="text" name="{$vo.name}" required lay-verify="required|number" lay-verType='tips' placeholder="请输入{$vo.title}" value="{$data[$vo.name]}" autocomplete="off" class="layui-input">  
            {elseif $vo.name=='regtime' || $vo.name=='uptime'/}
            <input type="text" name="{$vo.name}" placeholder="选择{$vo.title}" value="{$data[$vo.name]|date='Y-m-d H:i:s'}" autocomplete="off" class="layui-input" id="{$event}_{$vo.name}" disabled>
            {elseif $vo.name=='icon' /}
            <div class="layui-input-inline">
              <input type="text" name="{$vo.name}" placeholder="请输入{$vo.title}" autocomplete="off" value="{$data[$vo.name]}" class="layui-input">  
            </div>
            <div class="layui-input-inline">
              <a class="layui-btn layui-btn-primary" fiy-id='show-icon'><i class="{$data[$vo.name]}"></i></a>
              <a class="layui-btn layui-btn-normal" fiy-id='select-icon'>选择图标</a>
            </div>
            {elseif stripos($vo.name, 'context') !== false /}
            <textarea name="{$vo.name}" {in name='$vo.allow_null' value='NO'} required lay-verify="required" {/in} placeholder="请输入{$vo.title}" class="layui-textarea">{$data[$vo.name]}</textarea>
            {elseif stripos($vo.name, 'image') !== false || stripos($vo.name, 'avatar') !== false /}
            <div class="layui-input-inline">
              <input type="text" value="{$data[$vo.name]}" name="{$vo.name}" placeholder="请输入{$vo.title}" autocomplete="off" class="layui-input" >  
            </div>
              <button type="button" class="layui-btn layui-btn-normal" fiy-upload>
                <i class="layui-icon">&#xe67c;</i>上传{$vo.title}
              </button>
            <div class="event-image-container" fiy-photo-list>
              <img src="{$data[$vo.name]}" alt="">
            </div>
            {elseif $vo.name=='pid' /}
            <select name="{$vo.name}">
              {$pid_dom|raw}
            </select>
            
            {else /}
            <input type="text" name="{$vo.name}" {in name='$vo.allow_null' value='NO'} required lay-verify="required" {/in} lay-verType='tips' placeholder="请输入{$vo.title}" value="{$data[$vo.name]}" autocomplete="off" class="layui-input">  
            {/if}
          {else /}
            {volist name='$vo.child' id='vo1'}
            <input type="radio" name="{$vo.name}" value="{$i-1}" title="{$vo1}" {in name='$data[$vo.name]' value='$i-1'}checked{/in}>
            {/volist}
          {/if}
        </div>
      </div>
    {/volist}
    
    <div class="layui-form-item">
      <div class="layui-input-block form-btn">
        <button class="layui-btn" lay-submit lay-filter="event_form">立即提交</button>
      </div>
    </div>
  </form>

  {/in}

</div>
