<div class="modal-container">
  {in name='event' value='view'}
  <table class="layui-table" lay-even>
    <thead>
      <tr>
        <th><b>名称</b></th>
        <th><b>参数</b></th>
      </tr> 
    </thead>
    <tbody>
      {volist name='cols' id='vo'}
        <tr>
          <td>{$vo.title}</td>
          <td>
            {if empty($data[$vo.name])}
              <i class="layui-word-aux">NULL</i>
            {elseif empty($vo.child) /}
              {if stripos($vo.name, 'icon')}
                <i class="{$data[$vo.name]}"></i>
              {elseif stripos($vo.name, 'time') /}
                {$data[$vo.name]|date='Y-m-d H:i:s'}
              {else /}
                {$data[$vo.name]}
              {/if} 
            {else /}
            <div class="layui-form" lay-filter="test1">
              <button class="layui-btn layui-btn-sm">{$vo.child[$data[$vo.name]]}</button>
            </div>
            {/if}
          </td>
        </tr>
      {/volist}
    </tbody>
  </table>
  {/in}

  {in name='event' value='edit'}
  编辑
  {/in}

  {in name='event' value='add'}
  <form class="layui-form" action="javascript:;">
    
    {volist name='cols' id='vo'}
      {notin name='vo.name' value='id'}
      <div class="layui-form-item">
        <label class="layui-form-label">{$vo.title}</label>
        <div class="layui-input-block">
          {if empty($vo.child) /}
            <input type="text" name="title" required lay-verify="required" lay-verType='tips' placeholder="请输入标题" autocomplete="off" class="layui-input">  
          {else /}
            {volist name='$vo.child' id='vo1'}
            <input type="radio" name="{$vo.name}" value="{$i-1}" title="{$vo1}">
            {/volist}
          {/if}
      
        
        
        
      </div>
      </div>
      {/notin}
    {/volist}
    
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
  {/in}

</div>
