
<form class="layui-form layui-form-pane form-style" action="javascript:;" method="POST" fiy-url="{:request()->url()}">
  <div class="layui-form-item">
    <label class="layui-form-label">原密码</label>
    <div class="layui-input-block">
      <input type="text" name="old" placeholder="请输入当前密码" autocomplete="off" class="layui-input" lay-verify="required" lay-verType="tips">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">新密码</label>
    <div class="layui-input-block">
      <input type="password" name="new" placeholder="请输入新密码" autocomplete="off" class="layui-input" lay-verify="required|pass" lay-verType="tips">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">重复新密码</label>
    <div class="layui-input-block">
      <input type="password" name="new2" placeholder="请再次输入新密码" autocomplete="off" class="layui-input" lay-verify="required|pass|pass2" lay-verType="tips">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block form-btn">
      <button class="layui-btn" type="button" lay-submit lay-filter="*">立即提交</button>
      <button class="layui-btn layui-btn-primary" type="reset" lay>重置</button>
    </div>
  </div>
</form>
